body {
    font-family: 'Roboto Codensed', sans-serif;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th {
    background-color: #00c3ff;
    color: #ffffff;
    padding: 10px;
}

td:nth-child(even) {
    background-color: #ccebff;
    color: #333333;
    padding: 10px;
}